@import '../../assets/fonts/fonts.scss';

body {
    height: 100vh;
}

body * {
    font-family: Raleway;
}

#root {
    height: 100%;
}

.nav {
    width: 300px;
    height: 100%;
}

.main {
    height: 100%;
    background-color: #fff;
    margin-right: 300px;
    @media (max-width: 1140px) {
        margin-right: 0;
    }
}
