.navigation {
  background-color: #f1f2f7;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.section {
  margin-top: 40px;
}

.sectionName {
  margin: 0 22px 15px;
  color: #7c8b93;
  text-transform: uppercase;
  font-size: 12px;
}

.item {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 22px;

  i {
    color: #c4c7db;
    display: inline-block;
    margin-right: 18px;
    font-size: 16px;
  }
  span {
    color: #878d96;
  }

  &.active {
    background-color: #e4e7f5;
    i {
      color: #707fdd;
    }
    span {
      color: #5a6acf;
      font-weight: 700;
    }
  }
}
